extends layout

block content
  - data = data || {}
  if errors
    ul
      for error in errors
        li= error.msg
  form(action="/upload", method="POST", enctype="multipart/form-data")
    label(for="name") Name:
    input(
      type="file"
      id="file"
      name="ProjectionFile"
    )

    input(type="submit" value="Submit")